:root {
    --backgroud-padrao: #F2E8CF; 
    --backgroud-blocoLogin: #6A994E;
    --backgroud-blocoItens: #386641;
    --backgroud-escuro: #AEA283;
    --backgroud-blocoItensRecusado: #BC4749;
    --backgroud-blocoFiltro: #797979;
    --backgroud-containerFiltro: #3E3E3E;
    --texto-padrao: #252525;
}

* {
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
}

header {
    background-color: #2e5634;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

header .logo img {
    height: 80px;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    flex-grow: 0.8;
    justify-content: center;
}

header nav a {
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}



header .requests {
    color: #fff;
    font-weight: bold;
}


.logo {
    filter: saturate(0) invert(100) brightness(1000%);
}


#pesquisar {
    border-radius: 15px;
    padding: 5px 15px 5px 20px;
    background-color: #d2c7a7;
}
