:root {
    --backgroud-padrao: #F2E8CF; 
    --backgroud-blocoLogin: #6A994E;
    --backgroud-blocoItens: #386641;
    --backgroud-escuro: #AEA283;
    --backgroud-blocoItensRecusado: #BC4749;
    --backgroud-blocoFiltro: #797979;
    --backgroud-containerFiltro: #3E3E3E;
    --texto-padrao: #252525;
}