.blocoOpcao {
    text-align: center;
    border-radius: 10px;
    padding: 1em 6em 1em;
    background-color: var(--backgroud-blocoLogin);
    margin: 10px;
    width: 40%;
    
}

#loginItens {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#loginItens2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    color: var(--backgroud-padrao);
}
#tituloTipoLogin {
    color: var(--texto-padrao);
}
.blocoOpcao:hover  {
    background-color: var(--backgroud-blocoItens);
    color: var(--backgroud-padrao);
}

#logoCaens {
    width: 20%;
}

#loginBlocoPrincipal {
    border-radius: 10px;
    padding: 1em;
    background-color: var(--backgroud-blocoItens);
}

.componenteBlocoPrincipalLogin {
    margin-top: 10px;
}