.postItemTags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.postContainerItemChild {
    margin: 2em;
}

.postContainerItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tagItem {
    margin: 10px;
}

.postItemSituacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#situacao {
    background-color: #AEA283;
}

#status {
    background-color: green;
}

#horaPost, #status{
    color: aliceblue;
}

.postItemSituacaoChild {
    margin-top: 20px;
    padding: 5px 15px 5px 20px;
    border-radius: 50px;
}

.postItemSituacaoRequest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.botaoRequest {
    color: aliceblue;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}
#recusar {
    background-color: rgb(214, 103, 103);
}
#aceitar {
    background-color: green;
}
/*
 <div id="situacao">SITUAÇÃO:PERDIDO</div>
                <div id="status">APROVADO</div>
                <div id="horaPost">12:00 | 01/02/2024</div>

*/