
.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.user-info i {
    
    font-size: 24px;
    margin-right: 10px;
}
.user-info span {
    color: white;
    font-size: 18px;
}